<div class="nav1">
<nav class="navbar navbar-expand-lg navbar-light bg-light shadow" style="width: 100%;">
  <a class="navbar-brand nav1" style="margin-left: 20px;" href="#"><b>HiringFire</b></a>
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="navbar-toggler-icon"></span>
  </button>

  <div class="collapse navbar-collapse">
    <ul class="navbar-nav mr-auto" style="margin: auto;">
      <li class="nav-item active p-2">
        <a class="nav-link" href="#">Product</a>
      </li>
      <li class="nav-item p-2">
        <a class="nav-link" href="#">Customer</a>
      </li>
      <li class="nav-item p-2">
        <a class="nav-link" href="#">Resources</a>
      </li>
      <li class="nav-item p-2">
        <a class="nav-link" href="#">Pricing</a>
      </li>
      <li class="nav-item p-2">
        <a class="nav-link" href="#">About</a>
      </li>
     
    </ul>
    
      <h6>Login</h6>&nbsp;&nbsp;
      <button class="btn btn-warning my-2 my-sm-0" type="submit">Sign Up</button>&nbsp;&nbsp;
      <button class="btn btn-secondary my-2 my-sm-0" style="margin-right: 20px;" type="submit">Book Demo</button>
    
  </div>
</nav>
</div>

<div>
  <div style="margin-left: 90px;margin-top: 70px;">
    <p style="color: rgb(255, 187, 0)">CLIENT PORTAL FOR FIREHIRE</p>
    <h1>Make candidate submissions your <br>competitive advantage.</h1>
    <p>Submit candidates to clients as a branded link instead of attaching resumes to an email.</p>
    <button class="btn btn-secondary mt-2" style="width: 200px;">Book Demo</button>
  </div>
  <div class="mt-20px">
    <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/62727ac8f4e4d65ee7b28106_1-Hero_profile_new_o.jpg" class="center" >
  </div>
  <div >
    <h2 style="text-align: center;margin-top: 30px;">LEADING COMPANIES BUILD TEAMS ON HIRINGFIRE</h2>
    <img src="../assets/logoco.png" alt="" style="width: 800px;" class="center">
  </div>
  <div class="containerx">
    <div class="contain"><h1 style="color: rgb(42, 177, 255);font-size: 70px;">3X</h1><h6>Faster Candidate Submission</h6></div>
    <div class="contain"><h1 style="color: rgb(42, 177, 255);font-size: 70px;">30%</h1><h6>More Candidate Placement</h6></div>
    <div class="contain"><h1 style="color: rgb(42, 177, 255);font-size: 70px;">100%</h1><h6>Client Satisfaction</h6></div>
  </div>

  <div class="card text-white bg-dark mb-2 p-4" style="max-width: 80%;">
    <div class="card-body mt-4" style="display: flex;margin-left: 20px;">
      <div style="width:50%;" class="m-4">
      <h4 class="card-title">Say goodbye to back and forth emails and attachments</h4>
      <p class="card-text mt-2">Say hello to a new era of candidate presentation.With Candidately, forward thinking staffing teams create beautifully branded candidate submissions that clients can access anywhere and anytime.</p>
        <button class="btn btn-secondary mt-4" style="width: 200px;">Book Demo</button>
      </div>
      <div style="margin-top:-10px ;">
        <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/645c02657f980a6dee0c7ffb_say-goodbye.png" alt="" width="500px">
      </div>
      </div>
  </div>

  <div class="card mb-2 p-4 mt-4" style="max-width: 80%;background-color: rgb(236, 201, 253);">
    <div class="card-body mt-4" style="display: flex;margin-left: 20px;">
     
      <div style="margin-top:-10px ;">
        <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/61b26293f11b658ade9b1a2e_Bullhorn_iFrame%201.png" alt="" width="550px">
      </div>
      <div style="width:50%;" class="m-4">
        <h4 class="card-title">Lightning fast submissions, right from within Bullhorn</h4>
        <p class="card-text mt-2 text-muted">Give your team back their time on creating candidate submittals. Simply pick a candidate from within Bullhorn and share a link with your clients. As easy as sharing a Dropbox folder or Google document.</p>
 </div>
      </div>
  </div>

  <div style="display: flex;" class="center">
    <div> 

      <div class="card mb-2 p-4 mt-4" style="background-color: rgb(247, 254, 255);width:700px;margin-left: 0px;">
      <div class="card-body mt-4" style="margin-left: 20px;">
        <div style="width:350px;" class="m-4">
          <h4 class="card-title">No client login required</h4>
          <p class="card-text mt-2 text-muted">Through a simple link your clients can access candidate submissions right away. No signup or password required.</p>
   </div>
   <div style="margin-top:-10px ;">
    <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/633300b40eeb44179ab9957b_no-client-login-p-800.png" alt="" width="510px">
  </div>
        </div>
    </div>

  </div>

    <div>
      <div class="card mb-2 p-4 mt-4" style="margin-left: -100px;width: 700px;background-color: rgb(221, 221, 221);">
        <div class="card-body mt-4" style="margin-left: 0px;">
          <div style="width:450px" class="m-4">
            <h4 class="card-title">50% faster client feedback</h4>
            <p class="card-text mt-2 text-muted">Let clients request interviews or decline your candidate submissions with the click of a button.</p>
     </div>
     <div style="margin-top:-10px ;">
      <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/645c025ee1b4e8b007f55607_instant-client-feedback.png" alt="" width="440px">
    </div>
          </div>
      </div>
    </div>
  </div>

  <div class="card mb-2 p-4 mt-4" style="max-width: 80%;background-color: rgb(206, 211, 210);">
    <div class="card-body mt-4" style="display: flex;margin-left: 20px;">
      <div style="width:450px;" class="m-4">
      <h4 class="card-title">Your candidates never looked so good</h4>
      <p class="card-text mt-2">All the data your clients want to see in one place. Add documents, skill assessments, video interviews, social profiles, ratings and more. Help your clients make more informed decisions faster.</p>
        <button class="btn btn-secondary mt-4" style="width: 200px;">Get started!</button>
      </div>
      <div style="margin-top:-30px ;">
        <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/630ce2df1763f1788c0b79b1_Frame%2029110-min-p-800.png" alt="" width="650px">
      </div>
      </div>
  </div>

  <div class="card mb-2 p-4 mt-4" style="max-width: 80%;background-color: rgb(253, 221, 246);">
    <div class="card-body mt-4" style="display: flex;margin-left: 20px;">
     
      <div style="margin-top:-10px ;">
        <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/630ce4b16d60d1ab8f81b236_61b262cca91295047aac6192_Candidate%20data%201-p-1080-p-800.png" alt="" width="550px">
      </div>
      <div style="width:50%;" class="m-4">
        <h4 class="card-title">Keep candidate data safe & secure.</h4>
        <p class="card-text mt-2 text-muted">Securely control access using a list of preapproved email addresses.
          Track who has accessed or downloaded your candidate’s resumes and remove access with a click of a button.</p>
 </div>
      </div>
  </div>

  <div class="card p-4 mt-4" style="max-width: 80%;background-color: rgb(228, 231, 233);">
    <div class="card-body mt-4" style="display: flex;margin-left: 20px;">
      <div style="width:450px;" class="m-4">
      <h4 class="card-title">Put your brand forward</h4>
      <p class="card-text mt-2">Delight your customers with awesome beautifully branded links.  Add a custom header, your logo, your favicon, adjust color codes, host links your own custom URL. Make the look and feel of your candidate submissions all yours.</p>
        <button class="btn btn-secondary mt-4" style="width: 200px;">Get started!</button>
      </div>
      <div style="margin-top:-30px ;">
        <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/645c025fe41bad2f4fbcf8ae_put-your-brand.png" alt="" width="650px">
      </div>
      </div>
  </div>
  <div style="display: flex;" class="center">
    <div> 

      <div class="card mb-2 p-4 mt-4" style="background-color: rgb(247, 254, 255);width:700px;margin-left: 0px;">
      <div class="card-body mt-4" style="margin-left: 20px;">
        <div style="width:350px;" class="m-4">
          <h4 class="card-title">Always know when to act</h4>
          <p class="card-text mt-2 text-muted">Ever wondered if clients opened your submissions or how long they have viewed them. Get instant alerts delivered right to your mailbox with everything you need to act fast.</p>
   </div>
   <div style="margin-top:-10px ;">
    <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/645c025e88e6c753fe68ba4f_always-know.png" alt="" width="375px">
  </div>
        </div>
    </div>

  </div>

    <div>
      <div class="card mb-2 p-4 mt-4" style="margin-left: -100px;width: 700px;background-color: rgb(221, 221, 221);">
        <div class="card-body mt-4" style="margin-left: 0px;">
          <div style="width:400px" class="m-4">
            <h4 class="card-title">Looks great, even on the Go</h4>
            <p class="card-text mt-2 text-muted">Let clients review your candidates wherever they are.
              Submissions adapt to any screen. Whether on a phone, laptop, or desktop – they always look great.</p>
     </div>
     <div style="margin-top:-10px ;">
      <img src="https://global-uploads.webflow.com/605ad29901132bc543e01d9b/645c025f8bcab06271d03c42_looks-great.png" alt="" width="445px">
    </div>
          </div>
      </div>
    </div>
  </div>

  <div class="card-footer bg-dark text-white p-4 mt-5">
    <div style="margin:50px">
    <h1>HiringFire</h1>
    <div style="text-align: right;"><h6>This webpage is developed using html css bootsrap and Angular framework is used.</h6>
    <h6>Refrance site</h6>
    <p>https://www.candidate.ly/ <br>
      https://tophire.co/ 
      </p>
  </div>
  </div>
  </div>
</div>